:root {
    --widthLimitContainer: 1200px;
  }

html,
body {
    height: 100px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, button, p {
    margin: 0;
    padding: 0;
}
li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-color-white {
    color: #fff;
}
.plus-side-padding {
    padding: 0 40px;
}

/* -- limit container & body -- */
.limit-container {
    max-width: var(--widthLimitContainer);
    margin: 0 auto;
}

.backGround__section {
    background-color: rgb(33, 30, 70);
}

/* -- nav -- */
.nav-container {
    padding: 0 0 50px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.nav-logo {
    padding: 10px;
}
.nav-logo__img {
    width: 200px;
    height: auto;
}

.nav-list {
    display: flex;
    list-style: none; 
}

.nav-element a {
    text-decoration: none;
}
.nav-element:not(:last-child) {
    margin-right: 25px;
}

/* -- header -- */
.header {
    display: flex;
    column-gap: 10%;
    padding-bottom: 60px;
}
.header-image {
    width: 50%;
    flex: 1 1 auto; 
}
.header-content {
    width: 50%; 
    flex: 1 1 auto;
}
.header-title {
    margin-bottom: 20px; 
}
.header-text {
    margin-bottom: 40px;
    text-align: justify;
}
.header-button {
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    background-color: rgba(9, 138, 224, 0.966);
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.header-image img{
 width: 100%;
}

.section__random {
    padding: 40px 0 100px 0;
    text-align: center;
}
.random__title {
    margin-bottom: 40px;
}
.random__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}
.random__item {
    font-size: 0.8em;
    width: 150px; 
}
.random__img {
    width: 100%;  
    height: auto;
    border: 3px solid rgba(9, 138, 224, 0.966);
    border-radius: 20px;  
}

.speech-container {
    background-color: grey;
    padding: 50px 0;
}
.article {
    font-size: 1.3em;
    font-style: italic;
}
.article,
.article__author {
    max-width: 650px;
    margin: 0 auto;
    text-align: justify;
}
.article__author {
    text-align: right;
}
.section__call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 125px;
    border-radius: 15px;
    background-color: rgb(19, 127, 221);
    color: white;
}

.call-container {
    padding: 50px 0;
}
.call__article {
    display: flex;
    flex-direction: column;
}

.call__article h3{
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 8px;
}
.call__article span{
    font-size: 0.8em;
    line-height: 1em;
}
.call__button {
    padding: 0 20px;
    height: 2.5em;
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    border-radius: 1.5em;

    font-weight: bold;
    color: white;
    cursor: pointer;
}
.footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.footer__content {
    font-size: 0.8em;
    color: white;
    letter-spacing: 1px;
}